[user]
	email = fredrik1206@gmail.com
	name = Fredrik Johansen
[alias]
    pusho = push -u origin HEAD
    c- = checkout -
    amend = commit --amend --no-edit
    browse = ls-remote --get-url origin
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
[init]
    defaultBranch = main